name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macos-15

    steps:
    - name: Checkout the repository
      uses: actions/checkout@v4
    - name: Setup Xcode
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: latest-stable
    - name: Build and Test
      run: xcodebuild clean test -project "GHRepos.xcodeproj" -scheme "GHRepos" -destination "platform=iOS Simulator,name=iPhone 17 Pro" CODE_SIGNING_ALLOWED=NO
    - name: Build Release
      run: xcodebuild -project "GHRepos.xcodeproj" -scheme "GHRepos" -destination "generic/platform=iOS" -configuration Release build CODE_SIGNING_ALLOWED=NO
